<%-include("headermain")-%>

<body class="text-center" background="../images/home.jpg">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand"><i class="far fa-credit-card"></i>&nbsp;SQpay</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link text-white" href="/login">Login</a>
            <a class="nav-link text-white" href="/signup">Signup</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover" >
        <h1 class="cover-heading">SQpay</h1>
        <p class="text-dark">Rechare your SQ card with just one click, Easy,Fast and Simple. Say bye to standing in line for hours.</p>
        <p class="text-dark">
          <a href="/login" class="btn btn-outline-dark btn-lg">Login</a>&nbsp;
          <a href="/signup" class="btn btn-outline-dark btn-lg">Signup</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p class="text-dark">Website created for <a href="https://chitkara.edu.in/">Chitkara</a> by <a class="text-primary" href="https://instagram.com/kalrapk00">@priyanshkalra</a> and <a class="text-primary" href="https://instagram.com/kalrapk00">@rohan</a>.</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    
  </body>

</html>